body{
    background-color:black;
    background: url(https://wallpaperaccess.com/full/296718.jpg);
    
}

h2{
    text-align: center;
    font-size: xxx-large;
}
.super_div{
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.portfolio_card{
  width:33%;
  margin-right: -9px;
}
.portfolio_block{
  display: inline-block;
  border: #0066c7f0 3px solid;
  /* box-shadow: 0px -2px 20px 10px #c2cfd4e8; */

  height: 29vh;
  width: 90%;
  margin-top: 63px;
  margin-right: 38px;
}
 img{
     width: 100%;
     height: 24vh;
 } 

 .project_superdiv{
   padding:2 rem;
 }

.title {
	position: relative;
	color: white;
	font-size: 4em;
        display: inline;
        position: relative;
        font: 155px Helvetica, Sans-Serif;
        letter-spacing: -5px;
        color: rgba(0,0,255,0.5); 
        top:42px;
    }
    
.title:after {
        content:"Projects";
        position: absolute; left: 15px; top: 5px;
        color: rgba(255,0,0,0.5);   
        
    }

    .centered{
        position:absolute;
        left:50vw;
        top:50vh;
        transform:translateX(-50%) translateY(-50%) rotateX(15deg);
        text-align:center;
        
      }
  
      .button_div{
        margin-top:16px;
      }

        .app_1{
        color: white;
      margin: 1px;
      text-align: center;
      background:linear-gradient(blue,red,pink);
      font-size: 2rem;
}
        .app_2{
        color: white;
      margin: 1px;
      text-align: center;
      background:linear-gradient(blue,red,pink);
      font-size: 2rem;
}
        .app_3{
        color: white;
      margin: 1px;
      text-align: center;
      background:linear-gradient(blue,red,pink);
      font-size: 2rem;
}
        .app_4{
        color: white;
      margin: 1px;
      text-align: center;
      background:linear-gradient(blue,red,pink);
      font-size: 2rem;
}
        .app_5{
        color: white;
      margin: 1px;
      text-align: center;
      background:linear-gradient(blue,red,pink);
      font-size: 2rem;
}
        .app_6{
        color: white;
      margin: 1px;
      text-align: center;
      background:linear-gradient(blue,red,pink);
      font-size: 2rem;
}
        .app_7{
        color: white;
      margin: 1px;
      text-align: center;
      background:linear-gradient(blue,red,pink);
      font-size: 2rem;
}
        .app_8{
        color: white;
      margin: 1px;
      text-align: center;
      background:linear-gradient(blue,red,pink);
      font-size: 2rem;
}
.app_9{
  color: white;
margin: 1px;
text-align: center;
background:linear-gradient(blue,red,pink);
font-size: 2rem;
}
.app_10{
  color: white;
margin: 1px;
text-align: center;
background:linear-gradient(blue,red,pink);
font-size: 2rem;
}
.app_11{
  color: white;
margin: 1px;
text-align: center;
background:linear-gradient(blue,red,pink);
font-size: 2rem;
}
.btn_style2 {
  background: linear-gradient(black,gray);
    border: none;
    color: silver;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.9;
    transition: 0.3s;
    color: whitesmoke;
    box-shadow: 0px -2px 20px 10px #df0a26;
    margin: -4px 14px -3px 22px;
    text-decoration: none;
    
}
.btn_style1:hover {opacity: 1}  
.btn_style1 {
  background: linear-gradient(red,gray);
    border: none;
    color: silver;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.9;
    transition: 0.3s;
    color: whitesmoke;
    box-shadow: 0px -2px 20px 10px #4195fc;
    margin: -4px 14px -3px 22px;
    text-decoration: none;
}
.btn_style2:hover {opacity: 1}